@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-09-16 10:30:59
 * @version $Id$
 */
body{
	margin: 0px;
}
div.banner {
    width: 100%;
    min-width: 1300px;
	height: 400px;
	border: 2px solid #666666;
	overflow: hidden;
	position: relative;
}
.banner .image{
	width: 100%;	
	height: 100%;
	position: absolute;
}
.banner .tag{
	height: 40px;
	position: absolute;
	z-index: 1002;
	list-style: none;
	left: 600px;
    bottom: 30px;
}
.banner .tag li{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color:#FFFFFF;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	
}
.banner .tag li:hover{
	background-color: #0000FF;
}
.swhich{
	font-size: 60px;
    position: absolute;
    top: 140px;
    z-index: 1002;
    height: 75px;
    transform: scale(1, 3);
    color: #a9d5d6;
    cursor: pointer;
}
.swhich:hover{
	color: #0000FF;
}
.swhich1{
	left: 30px;
}
.swhich2{
	right: 30px;
}
